node_modules/
.expo/
.expo-home/
expo.log
expo.err
expo-web.log
expo-web.err
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
*.iml
.idea/
