.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.metadata
build/
coverage/
*.iml
.idea/
.vscode/
android/.gradle/
android/local.properties
*.jks
*.keystore
key.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/
macos/.symlinks/
*.log
*.err
window_dump.xml
.DS_Store
Thumbs.db
.env
